body {
    background-color: rgb(165, 169, 255);
    cursor: pointer;
}
.welcome {
    text-align: center;
    direction: rtl;
}
.btn{
    display: block;
    width: 150px;
    margin: 0 auto;
    background-color: black;
    color: white;
}
.btn:hover {
    background-color: white;
    color: black;
}
.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
#white.logo {
    width: 400px;
    height: 100px;
    display: block;
    margin: 0 auto;
}