body {
    background-color: rgb(165, 169, 255);
    cursor: pointer;
}
.welcome {
    text-align: center;
    direction: rtl;
}
.btn{
    display: block;
    width: 150px;
    margin: 0 auto;
}
.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
}
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
    transition: opacity 0.75s, visibility 0.75s;
}
@keyframes loading {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}
